// Variables

// Colors
$main-bg: #ece9e2;
$dark-gray: #303030;
$light-gray: #9ca6a8;
$blue: #589aaa;
$dark-blue: #3a4d51;
$red: #b7423a;
$light-red: #dba09c;
$green: #7ea033;
$light-green: #b3c68b;

// Fonts
$primary-font: "proxima-nova",sans-serif;
$secondary-font: "brandon-grotesque",sans-serif;
